<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>My First EJS</title>
</head>
<body>
    <h1>I'm EJS</h1>
    <div>Count: <%= count  %></div>
</body>
</html>

ASFService API
http://developer.samsung.com/privilege/billing	Billing API
http://developer.samsung.com/privilege/drminfo	Partner	DrmInfo API
http://developer.samsung.com/privilege/drmplay	Public	setDrm() method of the AVPlay API
http://developer.samsung.com/privilege/microphone	Microphone API
http://developer.samsung.com/privilege/network.public	Network API
http://developer.samsung.com/privilege/productinfo	ProductInfo API
http://developer.samsung.com/privilege/sso.partner	Partner	SSO API
http://developer.samsung.com/privilege/widgetdata	Public	WidgetData API