<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>
<div class="posts">
    <% include parials/top %>

    <!--main start-->

    <!-- views/posts/edit.ejs -->
    <div class="edit">
        <h3>Edit Post</h3>
        <form class="posts_form" action="/posts/<%= post._id%>?_method=put" method="post">
            <label for="">Title</label>
            <input type="text" name="post[title]" value="<%= post.title%>">
            <label for="">Body</label>
            <textarea name="post[body]"><%= post.body%></textarea>
            <div class="float_right">Author: <%= user.nickname %></div>
            <button type="submit">Submit</button>
        </form>
        <a href="javascript:history.back()"><button>Back</button></a>
    </div>

    <!--main end-->
</div>
<!--posts end-->
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>