<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>
<div class="posts">
    <% include parials/top %>

    <!--main start-->

    <!-- views/posts/new.ejs -->
    <div class="new">
        <h3>New Post</h3>
        <form class="posts_form" action="/posts" method="post">
            <label for="">Title</label>
            <input type="text" name="post[title]" value="">
            <label for="">Body</label>
            <textarea name="post[body]"></textarea>
            <div class="float_right">Author: <%= user.nickname %></div>
            <button type="submit">Submit</button>
        </form>
        <a href="/posts"><button>Back</button></a>
    </div>

    <!--main end-->
</div>
<!--posts end-->
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>